.visit-block-container
  margin-bottom: 1rem

.visit-block-legend
  transition: color 200ms
  margin-bottom: 0.5rem
  color: rgba(black, $p4)

.visit-block
  transition: border-color 200ms
  border: 3px dashed rgba(black, $p5)
  padding: 1rem
  border-radius: 2px
  &:after
    transition: color 200ms
    content: "Arrastra preguntas aquí"
    display: block
    margin-top: 0.5rem
    text-align: center
    color: rgba(black, $p4)
    font-size: 0.8rem
  &.dirty:after
    content: none

.appform-outer
  padding: 1rem

.af-container
  transition: background-color 200ms
  padding: 2rem 1rem

.appform-wrapper
  width: 100%
  max-width: 600px
  margin: 0 auto

.appform-row .drag-handle
  +position(absolute, 0 0 null null)

.af--dark
  .visit-block-legend
    color: rgba(white, $p3)
  .visit-block
    border-color: rgba(white, $p4)
    &:after
      color: rgba(white, $p3)
  .appform-row .drag-handle
    color: rgba(white, $p4)
    &:hover
      color: rgba(white, $p3)

// Actual form elements
$main-color: #ffca2c
$accent-color: $primary-color

.af-header
  padding: 2rem
  margin-bottom: 3rem
  background-color: white
  text-align: center

.af-logos
  text-align: center
  margin-bottom: 1rem
  img
    max-width: 30%
    width: 150px
    margin: 0 1.6%
    vertical-align: middle

.af-separator
  transition: border-color
  margin: 2rem auto 2rem auto
  width: 100%
  max-width: 42px
  border: none
  border-top: 5px solid #397ceb

.af-title
  margin: 0
  &.clean
    color: rgba(black, $p4)

.appform-row
  +user-select(none)
  margin-bottom: 3rem
  &.gu-mirror
    opacity: 1 !important
    transform-origin: right top
    transform: scale(0.8)

.af-label
  display: block
  margin-bottom: 1.2rem
  font-size: 1rem
  font-weight: bold
  letter-spacing: 0.05em

%af-input
  transition: box-shadow 200ms
  appearance: none
  width: 100%
  height: 42px
  margin: 0
  padding: 0 0.5rem
  border: none
  border-radius: 2px
  font-size: 1.2rem
  +placeholder
    color: rgba(black, 0.6)
  &:focus
    outline: none

.af-input
  @extend %af-input

.af-range
  width: 100%
  appearance: none
  margin: 18px 0
  &:focus
    outline: none
  &::-webkit-slider-runnable-track
    width: 100%
    height: 8px
    cursor: pointer
    border-radius: 999em
    border: none
  &::-webkit-slider-thumb
    border: none
    height: 20px
    width: 20px
    border-radius: 999em
    cursor: pointer
    -webkit-appearance: none
    margin-top: -6px
  &::-moz-range-track
    width: 100%
    height: 8.4px
    cursor: pointer
    border-radius: 999em
    border: none
  &::-moz-range-thumb
    height: 20px
    width: 20px
    border-radius: 3px
    cursor: pointer
  &::-ms-track
    width: 100%
    height: 8.4px
    cursor: pointer
    background: transparent
    border-color: transparent
    border-width: 16px 0
    color: transparent
  &::-ms-fill-lower
    background: #2a6495
    border: 0.2px solid #010101
    border-radius: 2.6px
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  &::-ms-fill-upper
    border: 0.2px solid #010101
    border-radius: 2.6px
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  &::-ms-thumb
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    border: 1px solid #000000
    height: 20px
    width: 20px
    border-radius: 3px
    cursor: pointer

.af-select
  @extend %af-input
  background-image: url("/assets/img/drop_down.svg")
  background-repeat: no-repeat
  background-position: 90% center
  background-position: calc(100% - 0.5rem) center
  cursor: pointer

.af-textarea
  @extend %af-input
  height: auto
  min-height: 100px
  max-height: 250px
  resize: vertical
  padding: 0.5rem

.af-submit
  transition: box-shadow 200ms, background-color 200ms
  appearance: none
  border: none
  margin: 0
  padding: 1rem 1.5rem
  text-align: center
  font-size: 0.8rem
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 0.1em
  cursor: pointer
  display: inline-block
  line-height: 1.2
  text-decoration: none
  border-radius: 2px
  &:focus
    outline: none

// Multiple

.af-checkbox
  font-size: 0
  input[type=checkbox]
    display: none
  label
    display: inline-block
    margin-bottom: 1rem
    font-size: 1rem
    width: 49%
    margin-right: 1%
  .af-list-label
    vertical-align: middle
  .af-checkbox-impostor
    +size(26px)
    transition: background-color 200ms
    display: inline-block
    border-radius: 2px
    vertical-align: middle
    margin-right: 0.5rem
    text-align: center
    i
      transition: opacity 200ms, transform 200ms
      transform: scale(0)
      display: inline-block
      line-height: 26px
      font-size: 20px
      opacity: 0
      color: inherit
  input[type=checkbox]:checked + .af-checkbox-impostor
    background-color: green
    i
      transform: scale(1)
      opacity: 1

// Options

.af-options
  font-size: 0
  input[type=radio]
    display: none
  label
    display: inline-block
    margin-bottom: 1rem
    font-size: 1rem
    width: 49%
    margin-right: 1%
  .af-list-label
    vertical-align: middle
  .af-options-impostor
    +size(26px)
    transition: background-color 200ms
    position: relative
    display: inline-block
    border-radius: 50%
    vertical-align: middle
    margin-right: 0.5rem
    text-align: center
    span.ball
      +size(100%)
      +position(absolute, 0)
      transition: opacity 200ms, transform 200ms
      transform: scale(0)
      background-color: $primary-color
      display: block
      border-radius: 50%
      margin: auto
      opacity: 0
  input[type=radio]:checked + .af-options-impostor
    span.ball
      transform: scale(1)
      opacity: 1


// Linear scale

.af-radio-active
  +position(absolute, 0)
  transition: opacity 200ms, transform 200ms
  background-color: blue
  border-radius: 50%
  transform: scale(0)
  opacity: 0

.af-radio-label
  transition: color 200ms, transform 200ms
  position: relative
  display: inline-block
  font-size: 0.8rem
  transform: scale(1)

.af-radio
  text-align: center
  font-size: 0
  margin-top: 2rem
  input[type=radio]
    display: none
  label
    +size(80px)
    position: relative
    display: inline-flex
    align-items: center
    flex-direction: column
    justify-content: center
    border-radius: 50%
    vertical-align: middle
    padding: 0.5rem
    margin: 0 0.6rem
    font-weight: bold
    color: rgba(black, 0.8)
    cursor: pointer
  input[type=radio]:checked + .af-radio-active
    transform: scale(1.2)
    opacity: 1
  input[type=radio]:checked + .af-radio-active + .af-radio-label
    transform: scale(1.2)

.af-scale
  padding-bottom: 1.5rem
  counter-reset: section
  label:after
    +position(absolute, null null -1.5rem null)
    content: counter(section)
    display: block
    font-size: 0.6rem
    margin-top: 0.5rem
    counter-increment: section

.af-button
  transition: box-shadow 200ms, background-color 200ms
  appearance: none
  height: 42px
  border: none
  margin: 0
  padding: 0 1.5rem
  text-align: center
  font-size: 0.8rem
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 0.1em
  cursor: pointer
  display: inline-block
  line-height: 1.2
  text-decoration: none
  border-radius: 2px
  &:focus
    outline: none

.input-with-button
  display: flex
  align-items: center
  .af-input
    flex: 1
    margin-right: 1rem

// Oxford
.af-oxford
  text-align: center
  .af-oxford-eye-cont
    display: inline-block
    width: 30%
    padding: 1rem
    svg
      width: 100%
  .af-oxford-eye
    transition: transform 200ms
    display: block
  input[type=radio]:checked + .af-oxford-eye
    transform: scale(1.1)
  input[type=radio]
    display: none

// Conditionals
.quest-conditional
  display: none
  &.show
    display: block



// %appform-input
//   transition: box-shadow 200ms
//   appearance: none
//   width: 100%
//   height: 42px
//   margin: 0
//   padding: 0 0.5rem
//   border: none
//   background-color: #F5F5F5
//   box-shadow: 0px 0px 0 rgba(black, 0.1)
//   border-radius: 0
//   color: rgba(black, $p3)
//   font-size: 1.2rem
//   +placeholder
//     color: rgba(black, $p4)
//   &:focus
//     outline: none

// .appform-input
//   @extend %appform-input

// .appform-textarea
//   @extend %appform-input
//   height: auto
//   min-height: 100px
//   resize: vertical
//   max-height: 200px
//   padding: 1rem
// .af-shw-focus
//   box-shadow: -6px 6px 0 rgba(black, 0.1)
// .af-shw-hover
//   box-shadow: -6px 6px 0 rgba(black, 0.1)

// .appform-label
//   display: block
//   margin-bottom: 1rem
//   font-size: 1rem
//   font-weight: bold
// .af-accent
//   color: $primary-color

// .appform-button
//   appearance: none
//   transition: box-shadow 200ms, background-color 200ms
//   border: none
//   margin: 0
//   padding: 1rem 1.5rem
//   text-align: center  
//   font-size: 0.8rem
//   text-transform: uppercase
//   font-weight: bold
//   letter-spacing: 0.1em
//   cursor: pointer
//   display: inline-block
//   line-height: 1.2
//   text-decoration: none
//   &:focus
//     outline: none
//   &:hover, &:focus
//     box-shadow: -6px 6px 0 rgba(black, 0.1)
//   &:active
//     box-shadow: 0px 0px 0 rgba(black, 0.1)
// .af-els
//   background-color: $primary-color
//   color: white
// .af-els-hover
//   &:hover, &:focus
//     background-color: shade($primary-color, 10%)









