$primary-color: #397CEB
$back-color: #EBF4F5
$error-color: #E34449
$warning-color: #F28F3F
$success-color: #62C480

$big-shadow: 0 5px 25px 3px rgba(black, 0.15)

$modular-scale-ratio: $minor-third

// Shades percentages
$p1: 0.87 // 87%
$p2: 0.8 // 8%
$p3: 0.57 // 57%
$p4: 0.15 // 15%
$p5: 0.07 // 7%
$p6: 0.04 // 4%

$topbar-height: 60px

$swift-out: cubic-bezier(0.55, 0, 0.1, 1)

*, *:after, *:before
  box-sizing: inherit

html, body
  height: 100%

html
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  box-sizing: border-box
  color: rgba(black, $p2)

body
  margin: 0
  background-color: $back-color
  min-width: 980px
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  margin: 0.2em 0 0.8em 0
  color: rgba(black, $p1)
  font-weight: bold

img
  max-width: 100%

@for $i from 1 through 6
  h#{$i}
    font-size: modular-scale(6 - $i)

.wrapper
  +margin(null auto)
  width: 95%
  max-width: 1200px

.main
  padding-top: calc(60px + 2rem)

.smaller-wrapper
  +margin(null auto)
  width: 100%
  max-width: 500px

.smaller-container
  +margin(null auto)
  width: 100%
  max-width: 1000px

.smallest-container
  +margin(null auto)
  width: 100%
  max-width: 600px

.border-title
  padding-left: 1rem
  border-left: 5px solid $primary-color

::selection
  background: $primary-color // WebKit/Blink Browsers
  color: white

::-moz-selection
  background: $primary-color // Gecko Browsers
  color: white

.not-responsive-overlay
  +position(fixed, 0)
  display: none
  background-color: white
  z-index: 100
  .logo
    text-align: center
    margin-bottom: 2rem
    img
      width: 150px
  .centered-inner
    max-width: 350px
    margin-bottom: 3rem
  .notice
    color: $primary-color

.not-responsive-notice .not-responsive-overlay
  display: block















