/*---- Tagin ----*/
.tagin
  cursor: text

.tagin-in
  +appearance(none)
  width: 250px
  border: none
  background: transparent
  font-size: inherit
  padding: 0
  margin: 0
  &:focus
    outline: none

.tagin-tag
  display: inline-block
  margin-right: 0.5rem
  margin-bottom: 0.5rem
  padding: 0 0.5rem
  font-size: inherit
  line-height: 1.5

// .tagin-tag.tagin-selected
//   background-color: shade(#FFD54F, 20%)

.tagin-tag.tagin-blink
  +animation-name(jump)
  +animation-duration(200ms)
  +animation-timing-function(ease)

+keyframes(jump)
  0%, 100%
    +transform(translate(0, 0))
  50%
    +transform(translate(0, -10px))

/* Woofmark */
.wk-hide
  display: none !important

.wk-container
  position: relative

.wk-container-drop
  display: none

.wk-container-dragging
  display: block

.wk-wysiwyg-placeholder
  position: absolute
  pointer-events: none
  display: none
  top: 10px
  left: 10px
  right: 10px
  bottom: 10px
  color: #999

.wk-wysiwyg:empty + .wk-wysiwyg-placeholder
  display: block

.wk-prompt
  +position(fixed, 0)
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba($back-color, 0.85)
  color: #555555
  z-index: 10

.wk-prompt-inner
  padding: 2rem
  margin-bottom: 100px
  max-width: 450px
  width: 100%
  background-color: white
  text-align: center
  border-radius: 2px
  box-shadow: $big-shadow

.wk-prompt-body
  text-align: center

.wk-prompt-buttons
  text-align: center
  margin-top: 20px

.wk-prompt-cancel
  margin-right: 10px
  cursor: pointer

.wk-prompt-upload
  position: relative
  overflow: hidden

.wk-prompt-browse
  font-weight: bold

.wk-prompt-dragdrop
  text-align: center
  font-style: italic
  margin-left: auto
  margin-right: auto
  max-width: 300px

.wk-prompt-fileupload
  position: absolute
  top: 0
  left: -200%
  right: 0
  bottom: 0
  opacity: 0
  cursor: pointer

.wk-dragging
  position: absolute
  text-align: center
  padding: 10px
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #fff

.wk-prompt-error
  display: none
  padding: 10px
  background-color: rgba(0, 0, 0, 0.1)

.wk-prompt-error-show
  display: block

.wk-prompt-drop, .wk-prompt-drop-icon, .wk-prompt-progress
  display: none

.wk-prompt-upload-dragging
  .wk-prompt-drop, .wk-prompt-drop-icon
    display: block
  .wk-prompt-dragdrop
    display: none

.wk-prompt-uploading
  pointer-events: none
  .wk-prompt-progress
    display: block
  .wk-prompt-drop, .wk-prompt-dragdrop
    display: none

.wk-prompt-progress
  cursor: not-allowed

/* Autocomplete */
.autocomplete-suggestions
  text-align: left
  cursor: default
  background: white
  box-shadow: $big-shadow
  border-radius: 2px
  /* core styles should not be changed */
  position: absolute
  display: none
  z-index: 9999
  max-height: 254px
  overflow: hidden
  overflow-y: auto
  box-sizing: border-box

.autocomplete-suggestion
  position: relative
  padding: 0 0.5rem
  line-height: 2rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-size: 1rem
  color: #444

.autocomplete-suggestion b
  font-weight: normal
  color: $primary-color

.autocomplete-suggestion.selected
  background-color: $primary-color
  color: white
  // background: #F4F4F4

/* Rome */
.rd-container
  display: none
  background-color: #fff
  padding: 10px
  text-align: center
  box-shadow: $big-shadow
  border-radius: 2px

.rd-container-attachment
  position: absolute

.rd-month
  display: inline-block
  margin-right: 25px
  &:last-child
    margin-right: 0

.rd-month-label
  font-size: 0.8rem

.rd-back, .rd-next
  cursor: pointer
  border: none
  outline: none
  background: none
  padding: 0
  margin: 0
  color: $primary-color

.rd-back[disabled], .rd-next[disabled]
  cursor: default

.rd-back
  float: left

.rd-next
  float: right

.rd-back:before
  display: block
  content: '\2190'

.rd-next:before
  display: block
  content: '\2192'

.rd-day-head
  padding: 0.3rem

.rd-day-body
  cursor: pointer
  text-align: center
  padding: 0.3rem
  color: rgba(black, $p1)
  font-size: 0.8rem
  &:hover
    background-color: rgba(black, $p6)

.rd-day-selected, .rd-time-selected, .rd-time-option:hover
  cursor: pointer
  background-color: $primary-color !important
  color: #fff

.rd-day-prev-month, .rd-day-next-month
  color: rgba(black, $p3)

.rd-day-disabled
  cursor: default
  color: rgba(black, $p4)

.rd-time
  position: relative
  display: inline-block
  margin-top: 5px
  min-width: 80px

.rd-time-list
  display: none
  position: absolute
  overflow-y: scroll
  max-height: 160px
  left: 0
  right: 0
  background-color: #fff
  color: #333

.rd-time-selected, .rd-time-option
  padding: 5px

.rd-day-concealed
  visibility: hidden